body {
    text-align: center;
    font-family: Arial;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
}
